<!DOCTYPE html>
<html>
<head>
  <title>Cruzzit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <%= link_to "Cruzzit", root_path %>
    <%= link_to "Contact", welcome_contact_path %>
    <%= link_to "About", about_path %>
  </ul>

<%= yield %>

</body>
</html>
